.layoutContainer {
  .siderContainer {
    .logo {
      height: 32px;
      margin: 16px;
      background: rgba(255, 255, 255, 0.3);
    }
  }
  .siteLayout {
    .headerContainer {
      color: #fff;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .ant-btn-primary {
        background: none;
        background-color: none;
        border: none;
        border-radius: 3rem;
        overflow: hidden;
        transition: 0.1s;
        &:hover {
          background: none;
          border: none;
          background-color: #188fffdc;
          color: #fff;
          will-change: transform;
        }
      }
    }
  }
}
